/* base */
// @use "./base/reset";

@use "./base/variables";
@use "./base/mixins";
@use "./base/globals";

/* layout */
@use "./layout/header";
@use "./layout/layout";

/* pages */
@use "./pages/video-detail";
@use "./pages/home";
@use "./pages/auth";
@use "./pages/channel";
@use "./pages/playlist";
@use "./pages/history";
@use "./pages/profile";

/* components */
@use "./components/navbar";
@use "./components/comment";
@use "./components/button";
@use "./components/video-card";
@use "./components/modal";
