body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

button {
  cursor: pointer;
  border: none;
}

img{
  display: block;
  max-width: 100%;
}