@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  background-color: $bg-primary;
  color: $text-primary;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

a {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

input,
textarea {
  font-family: inherit;
  outline: none;
  
  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-weight-semibold;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $bg-primary;
}

::-webkit-scrollbar-thumb {
  background: $bg-hover;
  border-radius: $radius-sm;
  
  &:hover {
    background: $border-light;
  }
}

// Selection
::selection {
  background: rgba($accent-primary, 0.3);
  color: $text-primary;
}